*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navis  {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #18181A;
  color: #fff;
  height: 5rem;
  margin: 0px;
  width: 100%;
}
.navis a {
  color: #fff;
  text-decoration: none;
  border: solid 1px ;
  border-radius: 7px;
  width: 89px;
  height: 37px;
  display: inline-block;
  vertical-align: top;
  margin-top: 22px;
  text-align: center;
  margin-right: 9px;
}
.navis  .current {
  background-color: #D90368;
}

nav .start{
  padding-left: 1.5%;
  max-width: 305px;
}
.start{
  padding-left: 1.5%;
}
.dofon{
  padding-right: 3%;
}
header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px; 
  background-color: #4e4e52;
  color: #D90368;
}
header a {
  text-decoration: none;
  font-size: 2.5rem;
  padding-bottom: 49px;
}
header a:hover {
  background-color: #D90368;
  color: white;
}

header .previous {
  background-color: #4e4e52;
  color: #fff;
  border: solid 1px #fff;

}

header .next {
  background-color: #4e4e52;
  color: white;
  border: solid 1px #FFF;
}

.round {
  border-radius: 20%;
  width: 30px;
  height: 30px;
  text-align: center;
}
/* MAIN    MAIN    MAIN    MAIN    MAIN    MAIN    MAIN    MAIN    MAIN    MAIN    MAIN    MAIN     */
.busca  {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100 %;
  height: 30px;   
  margin: 15px;
}
.busca  div {

  display: inline-flex; 
  flex-direction: row;
  flex-wrap: nowrap;
}
.busca label {
  margin-right: 10px;
}
input[type='checkbox'] {
    accent-color: #d90368;
}
/*CARDS    CARDS    CARDS    CARDS    CARDS    CARDS    CARDS    CARDS    CARDS    CARDS    CARDS    CARDS      */
.ordo-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1%;
  margin-top: 4%;
  margin-bottom: 6;
}
.card {
  border: solid 2px #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 320px;

  margin: auto;
  margin-bottom: 5%;
  text-align: center;
}
.card button {
  border: solid none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 40%;
  font-size: 18px;
}
.card button:hover {
  background-color: #D90368;
}
.fotis img {
  height: 250px;
  width: 316px;
}


/* FOOTER     FOOTER     FOOTER     FOOTER     FOOTER     FOOTER     FOOTER     FOOTER     FOOTER     FOOTER     FOOTER      */
footer  {
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #222222;
  color: #000;
}
footer  a   {
  display: inline-flex;
  flex-wrap: nowrap;
  color: #D90368;
  text-decoration: none;
  margin: 6px;
  align-items: center;
}
footer p {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 65px;
  margin-top: 15px;
  color: #D90368;
}
.formix{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  width: 50%;
  border: solid 1px #000;
  background-color: #676767;
  padding: 15%;
  margin-left: 25%;
  margin-bottom: 5%;
}
.tableta {
  table-layout: fixed;
  width: 100%;
}
.tableta caption{
  background-color: #d90368;
}
table, th, td {
  border: 1px solid;
}
.details{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  border: solid 2px #000;
  margin: 5%;
  margin-top: 15%;

}
.details img{
  width: 370px;
  padding: 12px;
}
.details .side{
  margin: 13px;
}
@media only screen and (min-width: 320px) and (max-width: 847px){
  .navis{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 0px;
    float: left;
    width: 100%:
  }
  .busca {
    float: left;
    max-width: 60%;
    flex-wrap: wrap;
    height: auto;
  }
  header{
    float: left;
    width: 100%;
  }
  .ordo-cards{
    flex-wrap:wrap;
    float: left; 
  }
  footer{
    float: left;
    flex-wrap: nowrap;
    width: 100%;
  }
  .formix{
    width: 80%;
    margin-left: 10%;
  }
  .details {
    flex-wrap: wrap;
    margin: 1%;
  }
  .details img{
    max-width:320px;
  }
}

